fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
alembic
pydantic[email] 
pytest
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt
pydantic-settings
alembic
cloudinary
